<div class="container py-4">
    <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Filtra per nome</mat-label>
                    <input matInput formControlName="movie">
                    <mat-icon matSuffix class="cursor-pointer" (click)="onSubmit()">search</mat-icon>
                </mat-form-field>
                <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!searchForm.valid">Cerca</button> -->
            </div>
        </div>
    </form>

    <div class="movie-list-container d-flex justify-content-center flex-wrap">
        <mat-card class="movie-card m-2 m-sm-4" *ngFor="let movie of movies">
            <img mat-card-image src="https://cinemaadriano.it/images/locandine_film/spider.jpg"
                alt="Locandina film">
            <mat-card-content class="pt-4">
                <!-- TODO: ellipsis per nome e generi -->
                <h6>Spider-man: Across the Spiderverse</h6>
                <div class="py-2 d-flex flex-wrap genre-container">
                    <span class="badge rounded-pill text-bg-light">Animazione</span>
                    <span class="badge rounded-pill text-bg-light">Azione</span>
                    <span class="badge rounded-pill text-bg-light">Avventura</span>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <span>4.5/5</span>
                    <mat-icon class="star-icon">star</mat-icon>
                </div>
            </mat-card-content>
            <mat-card-actions class="justify-content-center">
                <button mat-button>INFO E SPETTACOLI</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>