.slick-slider .slide {
    cursor: pointer;

    &:hover {
        opacity: 0.85;
    }

    img {
        height: 200px;
    }
}

@media screen and (min-width: 576px) {
    .slick-slider .slide img {
        height: 240px;
    }
}