.slick-slider {
    width: 90%;
    margin: 0 50px;

    .slide {
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }
    }

    .slick-left, .slick-right {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: calc(50% - 3.5rem);
        z-index: 2;
        cursor: pointer;
    }

    .slick-left {
        left: -30px;
    }

    .slick-right {
        right: -30px;
    }
}