<div class="container py-4">
    <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row mb-5">
            <div class="col">
                <div class="d-flex align-items-center gap-3">
                    <mat-form-field class="flex-grow-1" appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Filtra per nome</mat-label>
                        <input matInput formControlName="movie">
                        <mat-icon matSuffix class="cursor-pointer" (click)="onSubmit()">search</mat-icon>
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Filtri aggiuntivi" matBadge="2"
                        matBadgeSize="small" matBadgePosition="after" matBadgeColor="accent"
                        (click)="onToggleAccordion()">
                        <mat-icon>tune</mat-icon>
                    </button>
                </div>

                <div [@slideInOut]="animationState" class="d-flex justify-content-center align-items-center pt-3 gap-3 flex-wrap">
                    <mat-form-field class="flex-grow-1" appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Città</mat-label>
                        <input matInput formControlName="city" [matAutocomplete]="autoCity">
                        <mat-autocomplete #autoCity="matAutocomplete" hideSingleSelectionIndicator>
                            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                                {{ city }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="flex-grow-1" appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Cinema</mat-label>
                        <input matInput formControlName="cinema" [matAutocomplete]="autoCinema">
                        <mat-autocomplete #autoCinema="matAutocomplete" hideSingleSelectionIndicator>
                            <mat-option *ngFor="let cinema of filteredCinemas | async" [value]="cinema">
                                {{ cinema }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <div>
                        <button mat-raised-button class="me-3" type="reset">Reset</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!searchForm.valid">Filtra</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- TODO: ellipsis per nome -->
    
    <div class="row">
        <div class="col">
            <h3>Al Cinema</h3>

            <div class="d-flex justify-content-center">
                <ngx-slick-carousel class="py-4" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let movie of movies" [routerLink]="['./', movie.id]" class="slide px-3">
                        <img [attr.data-lazy]="movie.img" class="w-100 mb-3 rounded-3" [alt]="movie.name">
                        <h6 class="text-center">{{ movie.name }}</h6>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Prossimamente</h3>

            <div class="d-flex justify-content-center">
                <ngx-slick-carousel class="py-4" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let movie of movies" [routerLink]="['./', movie.id]" class="slide px-3">
                        <img [attr.data-lazy]="movie.img" class="w-100 mb-3 rounded-3" [alt]="movie.name" />
                        <h6 class="text-center">{{ movie.name }}</h6>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>