<mat-drawer-container autosize>
    <mat-drawer #drawer mode="over" class="py-5 px-5">
        <button mat-menu-item class="py-2" routerLink="theater-list" (click)="drawer.close()">
            <span>Lista cinema</span>
        </button>
        <button mat-menu-item class="py-2" routerLink="cash-desk" (click)="drawer.close()">
            <span>Cassa</span>
        </button>
        <button mat-menu-item class="py-2" routerLink="booking-validator" (click)="drawer.close()">
            <span>Validazione QR Code</span>
        </button>
    </mat-drawer>

    <div class="min-vh-100">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/"><img src="/assets/images/logo.png" class="logo"></a>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
            </button>
        </mat-toolbar>
    
        <mat-menu #menu="matMenu">
            <button *ngIf="!isUserLogged()" mat-menu-item routerLink="login">
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
            <button *ngIf="isUserLogged()" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Profilo</span>
            </button>
            <button *ngIf="isUserLogged()" mat-menu-item routerLink="booking-list">
                <mat-icon>list_alt</mat-icon>
                <span>Prenotazioni</span>
            </button>
            <button *ngIf="isUserLogged()" mat-menu-item (click)="onLogoutClicked()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    
        <ng-content></ng-content>
    </div>
</mat-drawer-container>