<app-toast [toast]="toast$ | async"></app-toast>
<app-spinner *ngIf="isLoading$ | async"></app-spinner>

<div class="position-relative">
    <button mat-mini-fab class="back-btn" [routerLink]="['/movie-list', movie?.id]">
        <mat-icon>chevron_left</mat-icon>
    </button>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col">
            <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                <mat-stepper formArrayName="formArray" [orientation]="(orientation$ | async)!" linear
                    (selectionChange)="onStepChanged($event)">

                    <mat-step formGroupName="0" [stepControl]="theaterForm">
                        <ng-template matStepLabel>Scegli il cinema</ng-template>

                        <div
                            class="d-flex justify-content-center align-items-center pt-3 gap-4 flex-wrap flex-md-nowrap">

                            <mat-form-field class="flex-grow-1" appearance="outline" subscriptSizing="dynamic">
                                <mat-label>Città</mat-label>
                                <input matInput formControlName="city" [matAutocomplete]="autoCity">
                                <mat-autocomplete #autoCity="matAutocomplete" hideSingleSelectionIndicator>
                                    <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                                        {{ city }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="city?.invalid">
                                    <div *ngIf="cityErrorRequired">Valore obbligatorio</div>
                                    <div *ngIf="!cityErrorRequired && cityErrorValidOption">Valore non trovato,
                                        selezionare una delle opzioni proposte</div>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="flex-grow-1" appearance="outline" subscriptSizing="dynamic">
                                <mat-label>Cinema</mat-label>
                                <input matInput formControlName="theater" [matAutocomplete]="autoTheater">
                                <mat-autocomplete #autoTheater="matAutocomplete" hideSingleSelectionIndicator [displayWith]="displayFnTheater">
                                    <mat-option *ngFor="let theater of filteredTheaters | async" [value]="theater">
                                        {{ theater.name }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="theater?.invalid">
                                    <div *ngIf="theaterErrorRequired">Valore obbligatorio</div>
                                    <div *ngIf="!theaterErrorRequired && theaterErrorValidOption">Valore non trovato,
                                        selezionare una delle opzioni proposte</div>
                                </mat-error>
                            </mat-form-field>

                            <button mat-raised-button matStepperNext color="primary" type="button"
                                [disabled]="!theaterForm.valid">
                                Avanti
                            </button>

                        </div>
                    </mat-step>

                    <mat-step formGroupName="1" [stepControl]="showForm">
                        <ng-template matStepLabel>Scegli lo spettacolo</ng-template>

                        <div class="d-flex justify-content-between align-items-center pt-3 gap-4 flex-wrap flex-column flex-md-row">

                            <div class="d-flex justify-content-between gap-5">
                                <div>
                                    <label>Tipo proiezione</label>
                                    <mat-radio-group class="d-flex flex-column gap-2" formControlName="projectionType">
                                        <mat-radio-button *ngFor="let type of projTypes" [value]="type">
                                            {{ type }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div>
                                    <label>Lingua</label>
                                    <mat-radio-group class="d-flex flex-column gap-2" formControlName="language">
                                        <mat-radio-button *ngFor="let lang of languages" [value]="lang">
                                            {{ lang }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div>
                                <mat-form-field dayFormat subscriptSizing="dynamic">
                                    <mat-label>Giorno</mat-label>
                                    <input matInput formControlName="date" [matDatepickerFilter]="boundFilterValidDates"
                                        [matDatepicker]="picker" [min]="minShowDate" [max]="maxShowDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <div *ngIf="date?.value" class="pt-4">
                                    <label>Spettacolo</label>
                                    <mat-chip-listbox formControlName="showId">
                                        <mat-chip-option *ngFor="let show of shows" color="primary" [value]="show.id">
                                            {{ show.startTime }}
                                        </mat-chip-option>
                                    </mat-chip-listbox>
                                </div>

                            </div>

                            <button mat-raised-button matStepperNext color="primary" type="button"
                                [disabled]="!showForm.valid">
                                Avanti
                            </button>

                        </div>

                    </mat-step>

                    <mat-step formGroupName="2" [stepControl]="seatForm">
                        <ng-template matStepLabel>Scegli i posti</ng-template>

                        <div class="d-flex justify-content-center align-items-center pt-3 gap-4 flex-wrap">

                            <mat-form-field *ngFor="let ticket of getTicketsControls()" class="flex-grow-1" appearance="outline" subscriptSizing="dynamic">
                                <mat-label>{{ ticket.get('name')?.value }}</mat-label>
                                <input matInput [formControl]="getTicketProperty(ticket, 'quantity')" type="number" min="0">
                            </mat-form-field>

                        </div>

                        <div *ngIf="seatErrorRequired()"
                            class="mat-mdc-form-field-error pt-2">
                            Selezionare almeno un biglietto
                        </div>

                        <div class="py-5">
                            <app-seats-editor *ngIf="selectedStepIndex === 2" [creativeMode]="false"
                            [screen]="screen" [seatsTaken]="seatsTaken"
                            (selectedSeats)="onSeatSelected($event)"></app-seats-editor>
                        </div>

                        <div *ngIf="selectedSeatsTotalError" class="mat-mdc-form-field-error">
                            Il numero di posti selezionati non corrisponde al numero di biglietti scelti
                        </div>

                        <button mat-raised-button matStepperNext color="primary" type="button"
                            [disabled]="!seatForm.valid || selectedSeatsTotalError || price === 0">
                            Avanti
                        </button>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Riepilogo</ng-template>

                        <app-booking-summary [booking]="booking" [toComplete]="true"></app-booking-summary>

                    </mat-step>

                </mat-stepper>
            </form>
        </div>
    </div>
</div>