.movie-poster-mobile {
    min-height: 20vh;
    max-height: 80vh;
    mask-image: linear-gradient(black, transparent);
}

.movie-poster-desktop {
    height: 260px;
}

.star-icon {
    color: #ffc107;
}

.badge.rounded-pill {
    padding: 5px 12px;
}

.slick-slider .slide {
    width: 80px;

    img {
        height: 90px;
        width: 64px;
        border-radius: 10%;
        margin: auto;
    }
}

.spacer {
    height: 34px;
}

@media screen and (min-width: 576px) {
    .movie-poster-mobile {
        max-height: auto;
        mask-image: none;
        
        img {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .spacer {
        height: auto;
    }

    .book-btn-desktop {
        position: relative !important;
        width: 25% !important;
        display: block;
        padding: 0 !important;
    }
}