<app-toast [toast]="toast$ | async"></app-toast>
<app-spinner *ngIf="isLoading$ | async"></app-spinner>

<div class="movie-poster-mobile position-relative">
    <button mat-mini-fab class="back-btn" routerLink="/movie-list">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <img *ngIf="!(isLoading$ | async) && movie" class="w-100" [src]="movie.img" [alt]="movie.name">
</div>

<div *ngIf="!(isLoading$ | async) && movie" class="container py-2 py-sm-5">
    <div class="row">
        <div class="col">

            <div class="d-sm-flex gap-4 pb-sm-4">

                <img class="d-none d-sm-block movie-poster-desktop" [src]="movie.img" [alt]="movie.name">

                <div class="flex-grow-1">

                    <div class="d-sm-flex justify-content-between">
                        <h2 class="fw-bold flex-grow-1">{{ movie.name }}</h2>

                        <div *ngIf="showBookingBtn()" class="py-4 px-2 position-fixed bottom-0 w-100 start-0 end-0 z-3 book-btn-desktop">
                            <button mat-raised-button color="accent" class="w-100" [routerLink]="['/booking-form', movie.id]">
                                Prenota
                            </button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center gap-4 py-4">
                        <div class="text-center">
                            <h6 class="fw-bold">Data di uscita</h6>
                            <div>{{ movie.releaseDate | date: 'dd/MM/YYYY' }}</div>
                        </div>
                        <div class="text-center">
                            <h6 class="fw-bold">Durata</h6>
                            <div>{{ movie.durationMins }} min</div>
                        </div>
                        <div class="text-center">
                            <h6 class="fw-bold">Voto</h6>
                            <div class="d-flex align-items-center gap-2">
                                <span>{{ movie.score }}</span>
                                <mat-icon class="star-icon">star</mat-icon>
                            </div>
                        </div>
                    </div>

                    <h6 class="fw-bold">Genere</h6>
                    <div class="pb-4 d-flex flex-wrap gap-2">
                        <span *ngFor="let genre of movie.genres" class="badge rounded-pill text-bg-light">{{ genre }}</span>
                    </div>
                </div>

            </div>

            <p>
                <span class="fw-bold">Trama: </span>
                {{ movie.description }}
            </p>

            <div class="pb-4 pt-2">
                <h6 class="fw-bold">Cast</h6>

                <div class="d-flex justify-content-center">
                    <ngx-slick-carousel class="my-2" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let actor of movie.actors" class="slide mx-3">
                            <img [src]="actor.img" class="mb-3" [alt]="actor.name">
                            <h6 class="text-center">{{ actor.name }}</h6>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>

            <div class="spacer"></div>

        </div>
    </div>
</div>