<ng-container *ngIf="booking">
    <div class="movie-poster-mobile">
        <img class="w-100" [src]="booking.movie.img" [alt]="booking.movie.name">
    </div>

    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap gap-4 pt-3 flex-sm-row-reverse">
        <img *ngIf="booking.codeUrl" class="barcode" [src]="booking.codeUrl | secure | async" alt="Barcode" />

        <div class="flex-grow-1">
            <div class="d-flex justify-content-center flex-column gap-4">

                <h5 class="fw-bold">{{ booking.movie.name }}</h5>

                <div class="d-flex justify-content-between">
                    <span class="fw-bold">Cinema</span>
                    <span>{{ booking.theater.name }} ({{ booking.city }})</span>
                </div>

                <div class="d-flex justify-content-between">
                    <span class="fw-bold">Spettacolo</span>
                    <span>{{ booking.date | date: 'dd/MM/YYYY' }} - {{ booking.startTime }}</span>
                </div>

                <div class="d-flex justify-content-between">
                    <span class="fw-bold">Posti</span>
                    <span>{{ getSeatsString() }}</span>
                </div>

            </div>

            <button *ngIf="toComplete" mat-raised-button color="primary" class="px-5 mt-4">
                Prenota
                <span class="ps-2">{{ booking.price | currency:'EUR' }}</span>
            </button>
        </div>

        <img class="d-none d-sm-block movie-poster-desktop" [src]="booking.movie.img" [alt]="booking.movie.name">

    </div>

</ng-container>