.movie-poster-desktop {
    height: 260px;
}

.movie-poster-mobile {
    max-height: 40vh;
    mask-image: linear-gradient(black, transparent);
}

img.barcode {
    max-width: 240px;
    max-height: 240px;
}

@media screen and (min-width: 576px) {
    .movie-poster-mobile {
        max-height: auto;
        mask-image: none;
        
        img {
            display: none;
        }
    }
}