<div class="container py-5">
    <div class="row">
        <div class="col">

            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Prenotazione effettuata!</h4>
                <p>Di seguito il riepilogo del tuo ordine e il codice a barre da mostrare alla cassa.</p>
                <hr>
                <div class="d-flex justify-content-end">
                    <button mat-raised-button color="primary" routerLink="/booking-list">
                        Vedi le tue prenotazioni
                    </button>
                </div>
            </div>

            <app-booking-summary [booking]="booking" [toComplete]="false"></app-booking-summary>

        </div>
    </div>
</div>