@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

// $indigo-palette: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
//  // ... continues to 900
//  contrast: (
//    50: rgba(black, 0.87),
//    100: rgba(black, 0.87),
//    200: rgba(black, 0.87),
//    300: white,
//    // ... continues to 900
//  )
// );
$angular-primary: mat.define-palette(mat.$blue-palette);
$angular-accent: mat.define-palette(mat.$pink-palette);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

// TODO: non bellissimo, meglio ridefinire la palette?
.mat-toolbar, .mat-drawer {
  background-color: mat.get-color-from-palette($angular-primary, 50) !important;
  color: black !important;
}

::-webkit-scrollbar-track {
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	height: .5rem;
	width: .5rem;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: mat.get-color-from-palette($angular-primary, 500);
}