@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$primary-palette: (
  50 : #ebe7f0,
  100 : #cdc3d9,
  200 : #ac9cbf,
  300 : #8a74a5,
  400 : #715692,
  500 : #58387f,
  600 : #503277,
  700 : #472b6c,
  800 : #3d2462,
  900 : #2d174f,
  A100 : #b58cff,
  A200 : #9459ff,
  A400 : #7326ff,
  A700 : #620dff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$secondary-palette: (
  50 : #f6f0f1,
  100 : #eadadc,
  200 : #dcc1c5,
  300 : #cda8ae,
  400 : #c3969c,
  500 : #b8838b,
  600 : #b17b83,
  700 : #a87078,
  800 : #a0666e,
  900 : #91535b,
  A100 : #fff6f7,
  A200 : #ffc3ca,
  A400 : #ff909d,
  A700 : #ff7687,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$angular-primary: mat.define-palette($primary-palette);
$angular-accent: mat.define-palette($secondary-palette);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

::-webkit-scrollbar-track {
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	height: .65rem;
	width: .65rem;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: mat.get-color-from-palette($angular-primary, 500);
}

.mat-mdc-dialog-container .mdc-dialog__title,
.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: 'Montserrat', sans-serif !important; 
}

.mat-badge-small .mat-badge-content {
  font-size: 12px;
}

.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: 0;
}

.mat-badge-small.mat-badge-above .mat-badge-content {
  top: 0;
}

.mat-mdc-table {
  
  td, th {
    text-align: center;
  }

  .mat-sort-header-container {
    justify-content: center;
  }
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  top: -15px !important;
}

.text-primary-A100 {
  color: mat.get-color-from-palette($angular-primary, A100) !important;
}