.slick-slider {
    width: 90%;
    margin: 0 50px;

    .slick-left, .slick-right {
        display: none !important;
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: calc(50% - 2.5rem);
        z-index: 2;
        cursor: pointer;
    }

    .slick-left {
        left: -30px;
    }

    .slick-right {
        right: -30px;
    }
}

@media screen and (min-width: 576px) {
    .slick-slider .slick-left, .slick-slider .slick-right {
        display: inline !important;
    }
}